
* {
  font-family: 'Alegreya Sans', 'Verdana', sans-serif;
  font-size: 1em;
  color: white;
}

.bg {
  background: #75584B;
}

/********************************** BUTTONS **********************************/
button {
  background: none;
  border: none;
}

/****************************** NAVIGATION BAR ******************************/
nav {
  border-bottom: solid;
}

#name-logo {
  float: left;
  font-size: 3em;
  font-family: 'Water Brush', cursive;
  padding: 5px 20px;
  color: white;
}

#name-logo:hover {
  text-shadow: 2px 2px 5px black;
  transition: all 0.2s ease;
}

.nav-item {
  padding: 10px;
}

a.nav-link {
  color: white;
}

a.nav-link:hover {
  font-weight: bold;
  color: white;
}

/*********************************** FOOTER ***********************************/

footer {
  position: fixed;
  bottom: 10px;
  right: 15px;
}

footer ul {
  list-style-type: none;
  margin: 0;
}

footer li {
  padding: 0 5px;
  display: inline;
}

/****************************** HOME PAGE ******************************/
#welcome-center {
  position: absolute; 
  top: 20%;
  margin: 0 auto;
}

#welcome-elements {
  z-index: 1;
  position: absolute; /* absolute = relative to parent element */
  right:-50px;
}

#welcome-intro {
  position: absolute;
  z-index: 2;
  top: 5%;
  right: 380px;
  height: 90%;
  width: 100%;
  background: white;
  max-width: 100%;
  padding: 20% 10%;
}

#welcome-intro button {
  color: white;
  background: #baa38f;
  border: none;
  width: 140px;
  padding: 10px 24px;
  border-radius: 5px;
  transition: all .5s ease;
  overflow: hidden;
}

#welcome-intro button:hover {
  background: #9e7e61;
  transform: translate(0px,-5px);
}

#arrow-button {
  transform: translate(-50px, 2px);
  transition: all .5s ease;
  padding: 0;
}

button:hover #arrow-button {
  transform: translate(0px, 2px);
}

#center-row {
  position: relative;
}

#welcome-intro h1, p {
  color: black;
}

#welcome-intro mark {
  color: white;
  background: #baa38f;
}

/****************************** GALLERY PAGE ******************************/
/* line code taken from https://stackoverflow.com/questions/5214127/css-technique-for-a-horizontal-line-with-words-in-the-middle */
h1.heading {
  display: flex;
  flex-direction: row;
  padding-top: 2em;
}

h1.heading:before, h1.heading:after{
  content: "";
  flex: 1 1;
  border-bottom: 1px solid;
  margin: auto;
}

h1.heading:before {
  margin-right: 10px;
}

h1.heading:after {
  margin-left: 10px;
}

/* Card Based Layout - Base styles */
/* Adjusted from https://ordinarycoders.com/blog/article/codepen-bootstrap-card-hovers */
.photo-card {
  background: rgba(0,0,0,0);
  padding: 0;
  overflow: hidden;
  max-width: 400px;
  margin: 0 auto;
  border-radius: 10px;
}

.photo-card h2 {
  text-align: left;
  border-bottom: white solid 1px;
  position: relative;
  bottom: 0;
  padding: 5%;
  z-index: 1;
  transition: all 0.5s ease;
}

.photo-card img {
  width: 100%;
  top: 0;
  left: 0;
  opacity: 1;
  transition: all 1.5s ease;
}

.photo-card a {
  text-decoration: none;
}

/* Gallery page hover effect */

.photo-card:hover img {
  opacity: 0.3;
  transform: scale(1.25);
}

.photo-card:hover h2 {
  transform: translate(2px, -69px);
}

/****************************** ABOUT ME PAGE ******************************/
.bio {
  position: absolute;
  top: 200px;
}

.bio p {
  color: white;
}

.bio-text {
  position: relative;
  top: 60px;
}

.bio-text button {
  background: #baa38f;
  padding: 10px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.bio-text button:hover {
  background: #9e7e61;
}

.experience ul {
  list-style-type: none;
}